/* common */

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial.ttf') format('truetype');
  }

body {
    font-family: 'Georgia', serif;
    background-color: #292929;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
  }

.btn{
    display: inline-block;
    padding: 15px 45px;
    min-width: 207px;
    background-color: #F1CDB3;
    /* font-family: inherit; */
    color: #292929;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    line-height: 22px;
    cursor: pointer;
}

/* header */


.header{
    padding-top: 60px;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.header-title {
    margin: 0;
    padding: 0;
}

.header-title-link{
    color: #F1CDB3;
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 110%;
    text-decoration: none;
}

.header-subtitle{
    padding-left: 4px;
    color: #FFFFFF;;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
}

.header-nav-list{
 font-family: 'Arial', sans-serif;
 padding-left: 0;
 list-style-type: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-nav-item{
    margin-right: 35px;
}

.header-nav-item:last-child{
    margin-right: 0;
}


.header-nav-item-link{
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
}

.header-nav-item-highlight{
    border-bottom: 3px solid #F1CDB3;
}

/* about */

.about-container{
    display: flex;
}

.about-info {
    padding-top: 150px;
    width: 38%;
}

.about-title {
    color: #FFFFFF;
    font-size: 44px;
    line-height: 57px;
    width: 70%;
  }

.about-text {
    font-family: 'Arial', sans-serif;
    color: #CDCDCD;
    font-size: 15px;
    line-height: 24px;
  }

.about-btn{
    margin-top: 42px;
}

.about-pic{
    padding-left: 42px;
}

/* INTRO */

.intro{
  padding: 80px 0 100px 0;
  border: 1px solid red;
}

.intro-container{
    display: flex;
}

.intro-text{
    padding: 20px 0 30px 60px;
}

.intro-photo{
    padding: 0 60px 0 0;
}

.test{
    color: #FFFFFF;
    border: 1px solid green;
}

/* CAROUSEL */

.carousel{
    padding: 80px 0 100px 0;
    background-color: #CDCDCD;
  }


.carousel-cards{
    padding: 70px 100px;
}

/* HELP */

.help{
    padding: 100px 0 100px 0;
}

.help-title{
    border: 1px solid green;
}

.help-list{
    padding: 70px 0 0 0;
    display: flex;
}

.help-list-item{
    padding: 10px;
    width: 60px;
    height: 60px;
    border: 1px solid green;
}



/* DONATION */

.donation{
    background-color:#CDCDCD;
}

.donation-container{
    padding: 70px 0 100px 0;
    display: flex;
}

/* .donation-pic{

} */

.donation-info{
  padding: 20px 0 0 0;
}

/* FOOTER */

.footer{
    background-color:#292929;
}

.footer-container{
    padding: 60px 0 60px 0;
    display: flex;
}

/* .footer-contact{

} */

.footer-location{
   padding: 0 0 0 160px;
}

.footer-pic{
    padding: 0 0 0 120px;
}