body{
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #292929;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
  }


.header{
    border: 1px solid #CDCDCD;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.header-title-link{
    color: #F1CDB3;
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    text-decoration: none;
}

.header-subtitle{
    color: #FFFFFF;;
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.header-nav-list{
    padding-left: 0;
 list-style-type: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-nav-item{
    margin-right: 35px;
}

.header-nav-item:last-child{
    margin-right: 0;
}


.header-nav-item-link{
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
}

.header-nav-item-highlight{
    border-bottom: 3px solid #F1CDB3;
}


