/* common */

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial.ttf') format('truetype');
  }

body {
    font-family: 'Georgia', serif;
        /* background-color: #292929; */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, ul, p {
    margin: 0;
    padding: 0;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
  }

@media (max-width: 1279px) {
    .container {
        max-width: 100%;
    }

}

/* delete me later */
.hidden{
   display: none !important;
}

.test{
    border: 1px solid green;
}

.heading-large{ /* header2 */
    font-size: 44px;
    line-height: 57px;
    font-weight: 400;

}

.heading-medium{ /* header3 */
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 2px;
}

.heading-small{ /* header4 */
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 1px;

}

.heading-extra-small{ /* header5 */
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;

}

:root {
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-3xl:#292929;
    --color-dark-2xl:#444444;
    --color-dark-xl:#4C4C4C;
    --color-dark-l:#545454;
    --color-dark-m:#B2B2B2;
    --color-dark-s:#CDCDCD;
    --color-accent:#F1CDB3;
    --color-accent-light:#FDDCC4;
  }

.btn{
    display: inline-block;
    padding: 15px 45px;
    min-width: 207px;
    background-color: var(--color-accent);
    color: var(--color-dark-3xl);
    text-align: center;
    border-radius: 100px;
    border: 2px solid var(--color-accent);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color-accent-light);

}

.btn-accent{
    background-color: var(--color-light-xl);
}

.btn-link{
    text-decoration: none;
    color: inherit;
}

.pagination-btn{
    padding: 0;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pagination-btn-disabled{
    background-color: var(--color-light-l);
    border-color: var(--color-dark-s);
    cursor: auto;
}

.pagination-btn-disabled:hover{
    background-color: var(--color-light-l);
}

.pagination-btn-enabled{
    background-color: var(--color-light-l);
}


/* header */

.header-wrap{
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    background: url(../../assets/img/background-noise.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media (max-width: 1279px) {
    .header-wrap{
        padding: 30px 22px 37px 28px;
    }

}

@media (max-width: 767px) {
    .header-wrap {
        padding: 30px 22px 37px 9px;
    }

}

.header-wrap-light{
    padding: 30px 50px;
    background: var(--color-light-xl);
}

.header-title {
    margin: 0;
    padding: 0;
}

.header-title-link{
    color: var(--color-accent);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 110%;
    text-decoration: none;
}

.header-title-link-light{
    color: var(--color-dark-l);
}

.header-subtitle{
    padding: 7px 0 0 4px;
    color: var(--color-light-xl);
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.2px;
}

@media (max-width: 1279px) {
    .header-subtitle {
        padding: 6px 0 0 8px;
    }
}

@media (max-width: 767px) {
    .header-subtitle {
        padding: 6px 0 0 5px;
    }

}

.header-subtitle-light{
    color: var(--color-dark-3xl);
}

.header-nav-list{
    font-family: 'Arial', sans-serif;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-nav-item{
    margin-right: 35px;
}

.header-nav-item:last-child{
    margin-right: 0;
}

.header-nav-item-link{
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: var(--color-dark-s);
}

.header-nav-item-link-light{
    color: var(--color-dark-l);
}

.header-nav-item-link-accent{
    color: var(--color-light-s);
}

.header-nav-item-link-accent-light{
    color: var(--color-dark-l);
}

.header-nav-item-accent{
    position: relative;
    color: var(--color-light-s);
}

.header-nav-item-link:hover{
    color: var(--color-light-s);
}

.header-nav-item-link-light:hover{
    color: var(--color-dark-3xl);
}

.header-nav-item-accent::after{
    position: absolute;
    content: "";
    background-color: var(--color-accent);
    width: 100%;
    height: 3px;
    bottom: -4px;
    left:0;
}


/* about */

.about-container{
    padding: 0 40px 0 40px;
    display: flex;
    background: url(../../assets/img/background-noise.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media (max-width: 1279px) {
    .about-container{
        padding: 0 40px 24px 40px;
        flex-direction: column;
    }

}

@media (max-width: 767px) {
    .about-container {
        padding: 22px 0 0 0;
    }

}



.about-info {
    padding: 165px 0 0 0;
    width: 38%;
}

@media (max-width: 1279px) {
        .about-info {
            width: 100%;
            padding: 27px 0 0 113px;
        }

    }

@media (max-width: 767px) {
    .about-info {
        padding: 0;
    }

}

.about-title {
    color: var(--color-light-xl);
    width: 70%;
  }

@media (max-width: 1279px) {
        .about-title {
            width: 50%;
        }

    }

@media (max-width: 767px) {
    .about-title {
        width: 70%;
        font-size: 26px;
        text-align: center;
        line-height: 38px;
        padding: 0 0 0 47px;
        letter-spacing: 1px;
    }

}

.about-text {
    padding-top: 45px;
    width: 460px;
    font-family: 'Arial', sans-serif;
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 24px;
  }

@media (max-width: 1279px) {
    .about-text {
        padding-top: 40px;
    }

}

@media (max-width: 767px) {
    .about-text {
        padding-top: 35px;
        padding-left: 8px;
        text-align: center;
        width: 300px;
    }

}


.about-btn{
    margin: 35px 0 0 0;
}

    @media (max-width: 1279px) {
        .about-btn {
            margin: 41px 0 0 125px;
        }

    }

@media (max-width: 767px) {
    .about-btn {
        margin: 43px 0 0 54px;
        padding: 13px 0;
    }

}

.about-pic{
    padding: 0 0 0 42px;
}

    @media (max-width: 1279px) {
        .about-pic {
            padding: 105px 0 0 139px;
            transform: scale(1.05);

        }

    }

@media (max-width: 767px) {
    .about-pic {
        width: 83%;
        padding: 96px 0 0 43px;
        transform: scale(1);
    }

}

/* INTRO */

.intro-container {
    display: flex;
    padding: 80px 180px 100px 175px;
}

@media (max-width: 1279px) {
    .intro-container{
        padding: 0px 180px 100px 175px;
        flex-direction: column-reverse;
        align-items: center;
    }

}

@media (max-width: 767px) {
    .intro-container {
        padding: 0;
    }

}

.intro-img {
    padding: 0 120px 0 0;
}

@media (max-width: 1279px) {
    .intro-img{
        padding: 80px 0 0 0;
    }

}

.intro-info {
    padding-top: 10px;
}

@media (max-width: 1279px) {
    .intro-info{
        padding-top: 80px;
        width: 72%;
    }

}

@media (max-width: 767px) {
    .intro-info{
        padding-top: 30px;
        width: 84%;
    }

}

.intro-text{
    padding-top: 25px;
    color: var(--color-dark-xl);
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

@media (max-width: 767px) {
    .intro-text {
        letter-spacing: 0.8px;
    }

}

.intro-heading{
    width: 370px;
}

@media (max-width: 1279px) {
    .intro-heading {
        width: 320px;
    }

}

@media (max-width: 767px) {
    .intro-heading {
        width: 280px;
        font-size: 25px;
        text-align: center;
        line-height: 39px;
    }

}

/* CAROUSEL */

.carousel{
    padding: 80px 0 95px 0;
    background-color: var(--color-light-l);
  }

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-wrap{
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-heading{
    text-align: center;
    max-width: 400px;
}

.carousel-cards{
    padding: 55px 100px 60px 100px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap:90px;
}

@media (max-width: 1279px) {
    .carousel-cards {
        padding: 58px 77px 56px 73px;
        gap:33px;
    }

}

.carousel-cards-pets{
    padding: 40px 0;
    gap: 39px;
}

.carousel-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--color-light-s);
}

.carousel-card:hover{
    background-color: var(--color-light-xl);

}

.carousel-card:hover .carousel-card-btn{
    background-color: var(--color-accent-light);
}

.carousel-card-btn{
    margin-bottom: 30px;
    min-width: 183px;
}

.arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/img/icons/arrow-left.png);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-light-xl);
    border: 2px solid var(--color-accent);
}

.arrow-left{
    left: 0;
}

.arrow-right{
    right: 0;
    background-image: url(../../assets/img/icons/arrow-right.png);

}

/* HELP */

.help{
    padding: 80px 0 93px 0;
}

.help-title{
    margin: 0 auto;
    max-width: 310px;
    text-align: center;
}

.help-list{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    column-gap: 120px;
    row-gap: 55px;
}

@media (max-width: 1279px){
    .help-list {
        margin: 0 auto;
        max-width: 630px;
        padding-left: 70px;
        justify-content: space-between;
        column-gap: 66px;
        row-gap: 55px;
    }
}


.help-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;
}


 @media (max-width: 1279px){
        .help-list-item {
            width: 165px;
        }
    }





.help-list-text{
    padding-top: 29px;
    font-size: 20px;
    line-height: 113%;
    letter-spacing: 0.07rem;
}


/* DONATION */

.donation{
    background-color: var(--color-light-l);
}

.donation-container{
    padding: 80px 0 102px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1279px){
    .donation-container{
        flex-direction: column-reverse;
    }
}

.donation-info{
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation-title{
    max-width: 300px;
}

.donation-btn{
    padding: 8px 13px;
    width: 350px;
    border-radius: 10px;
}

.donation-btn-link{
    display: flex;
}

.donation-icon{
    padding-right: 15px;
}

.donation-main-info{
    font-size: 17px;
    line-height: 15px;
}

.donation-add-info{
    max-width: 380px;
    color: var(--color-dark-m);
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
}

@media (max-width: 1279px){
    .donation-pic{
        padding: 59px 0 0 22px;
    }
}

/* FOOTER */

.footer{
    background-color:var(--color-dark-3xl);
}

.footer-container{
    padding: 60px 0 60px 0;
    display: flex;
}
@media (max-width: 1279px){
    .footer-container{
        flex-wrap: wrap;
        justify-content: center;
        padding: 29px 0px 0 0px;
    }
}


.footer-details{
    padding: 43px 0 0 0;
    width: 284px;
}

.footer-details-location{
    padding: 36px 0 0 0;
}

.footer-location{
   padding-left: 150px;
}

@media (max-width: 1279px){
    .footer-location{
        padding-left: 54px;
    }
}

.footer-title{
    width: 278px;
    color: var(--color-light-xl);
}

.footer-subtitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-accent);
}

.footer-subtitle:nth-child(2){
    padding-top: 40px;
}

.footer-subtitle-location:nth-child(2){
    padding-top: 30px;
}

.footer-subtitle::before{
    padding-right: 20px;
    content: '';
    height: 32px;
    width: 40px;
    background-size: contain;
}

.footer-email::before{
    background-image: url(../../assets/img/icons/icon-email.svg);
    background-repeat: no-repeat;
}

.footer-phone::before{
    background-image: url(../../assets/img/icons/icon-phone.svg);
    background-repeat: no-repeat;
}

.footer-location-icon::before{
    height: 32px;
    width: 32px;
    background-image: url(../../assets/img/icons/icon-marker.svg);
    background-repeat: no-repeat;
}

@media (max-width: 1279px){
    .footer-img {
        padding-top: 60px;
    }
}




